/* Chat Principal */

.chat-button-content{
    position: relative;
    color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  .chat-content {
    font-family: poppins;
    position: relative;
    color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 89%;
    text-align: center;
  }
  
  .chat-content h1 {
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 500;
  }

  .chat-content h2 {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #2bab67;
  }
  
  .chat-content p {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
  }

  .chat-content h3 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #397b58;
  }

  .chat-content h4 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #397b58;
  }

  .chat-content li {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
  }

  .chat-content strong {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
  }

  .chat-date {
    font-size: 0.85rem;
    color: #888;
    margin-top: 4px;
    display: block;
  }
  
  /* Input de Preguntas */
  .chat-input-container {
    display: flex;
    width: 84%;
    height: 75px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
  }
  
  .chat-input-container textarea {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    resize: none; /* Evita el redimensionamiento manual */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    max-height: 200px;
  }
  
  .paperclip-container {
    position: relative; /* Asegura que el contenedor padre tenga posición relativa */
  }

  .upload-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-left: 28px;
    position: absolute; /* Posiciona el elemento de forma absoluta */
    z-index: 1000; /* Asegura que el elemento esté por encima de otros elementos */
    border-radius: 7px;
  }

  .upload-bar-button{
    padding: 10px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items:center;
    order: -1;
    gap: 10px;
    flex-shrink: 0; /* Evita que el botón se encoja */
  }

  .file-list-container{
    width: 100%;
    height: 65%;
  }

  .file-list { /* Permite el desplazamiento si hay muchos archivos */
    max-height: 80%; /* Ajusta la altura máxima según sea necesario */
    width: 100%; /* Asegura que la lista de archivos ocupe todo el ancho */
    overflow-y:auto
  }

  .upload-bar-button:hover{
    background: #D9D9D9;
    height: 48px;
  }

  .file-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
     transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  }

  .file-item.selected {
    background-color: #EDFFEB;
  }
  .file-item.selected:hover {
    background-color: #CFFFCC;
  }

  .file-item.removing {
    transform: translateY(-20px); /* Se mueve hacia arriba */
    opacity: 0; /* Se desvanece */
  }
  
  .file-item:hover {
    background-color: #D9D9D9; /* Cambia el color de fondo al pasar el mouse */
    width: 100%;
  }

  .tick-icon{
    padding: 10px;
  }

  

  .success-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFFA6;
    color: black;
    padding: 20px;
    border-radius: 8px;
    z-index: 1003;
    opacity: 0.97;
    backdrop-filter: blur(35px);
}

.success-card h2{
  color: #464646;
}

.check-icon{
  width: 80px;
  height: 80px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece la página */
  z-index: 1000; /* Debajo de la tarjeta */
  display: none; /* Oculto por defecto */
}

.overlay.active {
  display: block; /* Mostrar cuando esté activo */
}

  
.arrow-up{
  font-size: 25px;
  padding: 3px;
  background: white;
  align-self: end;
}

.arrow-up:hover{
  color: #2d89ff;
  transition: 0.2s;
}

.paperclip{
  font-size: 25px;
  padding: 3px;
  background: white;
  align-self: end;
}

.paperclip:hover{
  background: #E0E0E0;
  transition: 0.2s;
  border-radius: 10px;
}